In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
rawdata = pd.read_csv('movie.csv')

In [5]:
#Copy of raw data
df = rawdata.copy()

Exploration

In [18]:
df.shape

(4916, 27)

In [6]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [8]:
df.describe(include='all')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4897,4814,4867.000000,4901.000000,4814.000000,4893.000000,4903,4909.000000,4.054000e+03,4916,...,4895.000000,4902,4911,4616,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
unique,2,2397,NaN,NaN,NaN,NaN,3030,NaN,NaN,914,...,NaN,46,65,18,NaN,NaN,NaN,NaN,NaN,NaN
top,Color,Steven Spielberg,NaN,NaN,NaN,NaN,Morgan Freeman,NaN,NaN,Drama,...,NaN,English,USA,R,NaN,NaN,NaN,NaN,NaN,NaN
freq,4693,26,NaN,NaN,NaN,NaN,18,NaN,NaN,233,...,NaN,4582,3710,2067,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,137.988905,107.090798,691.014541,631.276313,NaN,6494.488491,4.764451e+07,NaN,...,267.668846,NaN,NaN,NaN,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,NaN,NaN,120.239379,25.286015,2832.954125,1625.874802,NaN,15106.986884,6.737255e+07,NaN,...,372.934839,NaN,NaN,NaN,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,NaN,NaN,1.000000,7.000000,0.000000,0.000000,NaN,0.000000,1.620000e+02,NaN,...,1.000000,NaN,NaN,NaN,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,49.000000,93.000000,7.000000,132.000000,NaN,607.000000,5.019656e+06,NaN,...,64.000000,NaN,NaN,NaN,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,NaN,NaN,108.000000,103.000000,48.000000,366.000000,NaN,982.000000,2.504396e+07,NaN,...,153.000000,NaN,NaN,NaN,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,NaN,NaN,191.000000,118.000000,189.750000,633.000000,NaN,11000.000000,6.110841e+07,NaN,...,320.500000,NaN,NaN,NaN,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,NaN,NaN,813.000000,511.000000,23000.000000,23000.000000,NaN,640000.000000,7.605058e+08,NaN,...,5060.000000,NaN,NaN,NaN,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [9]:
#print the numer of nan values  for each column there are two ways
#first using for loop
for col in list(df.columns):
    print(f"The number of missing values in column {col}= {df[col].isnull().sum()}")
#usnig builtin function
#print(f"The number of missing values in  \n {df.isnull().sum()}=")

The number of missing values in column color= 19
The number of missing values in column director_name= 102
The number of missing values in column num_critic_for_reviews= 49
The number of missing values in column duration= 15
The number of missing values in column director_facebook_likes= 102
The number of missing values in column actor_3_facebook_likes= 23
The number of missing values in column actor_2_name= 13
The number of missing values in column actor_1_facebook_likes= 7
The number of missing values in column gross= 862
The number of missing values in column genres= 0
The number of missing values in column actor_1_name= 7
The number of missing values in column movie_title= 0
The number of missing values in column num_voted_users= 0
The number of missing values in column cast_total_facebook_likes= 0
The number of missing values in column actor_3_name= 23
The number of missing values in column facenumber_in_poster= 13
The number of missing values in column plot_keywords= 152
The number of missing values in column movie_imdb_link= 0
The number of missing values in column num_user_for_reviews= 21
The number of missing values in column language= 14
The number of missing values in column country= 5
The number of missing values in column content_rating= 300
The number of missing values in column budget= 484
The number of missing values in column title_year= 106
The number of missing values in column actor_2_facebook_likes= 13
The number of missing values in column imdb_score= 0
The number of missing values in column aspect_ratio= 326
The number of missing values in column movie_facebook_likes= 0