preprocessing

In [22]:
#Drop unnecessary Columns
#Drop the 'color column from the DataFrame
df.drop('color', axis=1, inplace=True)
df.drop('aspect_ratio', axis=1, inplace=True)
df.drop('plot_keywords', axis=1, inplace=True)
df.drop('facenumber_in_poster', axis=1, inplace=True)
df.drop('actor_3_facebook_likes', axis=1, inplace=True)
df.drop('actor_2_facebook_likes', axis=1, inplace=True)
df.drop('actor_3_name', axis=1, inplace=True)
df.drop_duplicates(subset='movie_title',inplace=True)

In [23]:
#fill in missing values
df['gross'].fillna(df['gross'].mean(),inplace = True)
df['budget'].fillna(df['gross'].mean(),inplace = True)
#remove empty rows
df.dropna(inplace=True)
#shape after removing empty rows and Drop unnecessary Columns
df.shape

(4296, 22)

In [24]:
#converting data type
df['budget'] = df['budget'].astype('int64')
df['gross'] = df['gross'].astype('int64')
df['title_year'] = pd.to_datetime(df['title_year'], format='%Y')
df['title_year'] = df['title_year'].dt.strftime('%Y')

In [25]:
# Calculate profit by subtracting the budget from the gross amount
df['profit'] = df['gross'] - df['budget']

In [56]:
# Split the 'genres' column by '|' and select the first genre
df['genres'] = df['genres'].str.split('|').str[0]

In [21]:
#searching for empty values
print(df.isnull().sum())

director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [36]:
# Display rows where 'country' doesn't start with a letter (a-z) or end with a letter (a-z)
df[~df["country"].str.match("^[a-zA-Z].*[a-zA-Z]$")]

Empty DataFrame
Columns: [director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget, title_year, imdb_score, aspect_ratio, movie_facebook_likes, profit]
Index: []

[0 rows x 23 columns]

In [110]:
#download preprocessed data
preprocessed_data = df.to_csv('df.csv', index=False)